[Desktop Entry]
Type=Application
Name=MATLAB
Exec=/home/andrew/.MathWorks/ServiceHost/-mw_shared_installs/v2024.6.0.6/bin/glnxa64/OpenMathWorksDesktopApp %u
StartupNotify=false
MimeType=x-scheme-handler/mw-matlab;