[Desktop Entry]
Name=ParaView
Exec=/home/andrew/Software/ParaView-5.12.1/bin/paraview
Type=Application
Terminal=false
Categories=Application;
Icon=/home/andrew/.local/share/applications/icons/paraview.png
Actions=Configure;
[Desktop Action Configure]
Name=ParaView
Exec=/home/andrew/Software/ParaView-5.12.1/bin/paraview

